.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

.accordion-header {
	font-weight: bold;
}

.redBorder {
	border-color: red;

.photo-list img {
    display: inline;
    width: 49%;
    height: auto;
}
