.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

.accordion-header {
	font-weight: bold;
}

.greyed-out {
	opacity: 0.4;
}

.photo-list img {
    display: inline;
    width: 49%;
    height: auto;
}
